<footer class="footer">
  &copy; <%= Time.current.year %> <%= image_tag "logo2.png", alt: "Logo" %> | 
  <div id='author'><a href="https://www.getawd.com" target="_blank">getawd.com</a></div>
</footer>