<section id="videos" class="content-section">
  <h2 class="section-title">Videos</h2>
  <ul class="card-list">
    <%= render partial: "videos/index_card", collection: @videos, as: :video %>
  </ul>
</section>
