<li class="card project-card">
  <h3 class="card-title truncate-1"><%= project.title %></h3>

  <% if project.image.present? %>
    <div class="card-media">
      <%= image_tag project.image, alt: project.title %>
    </div>
  <% end %>

  <p class="card-text truncate-5"><%= project.description %></p>
  <%= link_to "Show this Project", project, class: "card-link" %>
</li>
