<h2 style="text-align: center;">Projects</h2>
<section id="all_projects">
  
  <% @projects.each do |project| %>
    <ul>
      <li>
        <h3><%= project.title %></h3>
        <%= image_tag project.image if project.image.present? %>
        <p><%= project.description %></p>
        
      </li>
    </ul>
  <% end %>
</section>