<section id="about" class="content-section">
  <h1 class="section-title">About</h1>

  <div class="content-stack" id="paragraphs_from_yml">
    <p><%= @about_info["about"]["paragraph1"] %></p>
    <p><%= @about_info["about"]["paragraph2"] %></p>
  </div>
</section>
